<ion-view view-title="忘记密码">
  <ion-header-bar class="bar-positive">
    <h1 class="title">忘记密码</h1>
  </ion-header-bar>

  <ion-content scroll="true" overflow-scroll="false" ng-controller="ForgetpwdCtrl">
    <form ng-submit="doForgetpwd()" name="forgetForm">
      <div class="list  list-inset">
        <label class="item item-input">
          <input type="text" name="username" ng-model="user.name" 
          placeholder="用户名" ng-required="true" ng-minlength="4" ng-maxinlength="16">
        </label>

        <label class="item item-input">
          <input type="email" name="email" ng-model="user.email" 
          placeholder="注册邮箱" ng-required="true">
        </label>
        <label class="item item-input">
          <input type="text" name="telphone" ng-model="user.telphone" placeholder="注册电话" ng-required="true" ng-pattern="/^((0\d{2,3}-\d{7,8})|(1[3584]\d{9}))$/"> 
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit"
        ng-disabled="forgetForm.$invalid">重置密码</button>
      </div>
    </form>

    <div class="row">
      <div class="col">
        <a class="button button-clear button-positive" ui-sref="signup">
        用户注册</a>
      </div>
      <div class="col">
        <a class="button button-clear button-dark" ui-sref="signin" style="float: right;" >用户登录</a>
      </div>
    </div>
  </ion-content>
</ion-view>
