<ion-view view-title="用户登录">
  <ion-header-bar class="bar-positive">
    <h1 class="title">用户登录</h1>
  </ion-header-bar>

  <ion-content scroll="true" overflow-scroll="false">
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">用户名</span>
          <input type="text" name="username" ng-model="user.name">
        </label>
        <label class="item item-input">
          <span class="input-label">密码</span>
          <input type="password" name="password" ng-model="user.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">确定</button>
        </label>
      </div>
    </form>

    <div class="row">
      <div class="col">
        <a class="button button-clear button-dark" href="#/app/first">用户注册</a>
      </div>
      <div class="col">
        <a class="button button-clear button-positive" style="float: right;" href="#/app/first">忘记密码?</a>
      </div>
    </div>
  </ion-content>
</ion-view>
