<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-clear">
        <i class="ion-chevron-left"></i>返回
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent">
    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content scroll="true" overflow-scroll="true">
      <ion-list>
        <ion-item class="item-icon-left" menu-close ui-sref="app.user" id="user-list">
          <img ng-src="img/user.png" >
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="app.first">
          <i class="icon ion-home borrc"></i>
          用户首页
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="app.pay">
          <i id="payc" class="icon ion-document-text"></i>
          收支管理
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="app.assets">
          <i id="assetc" class="icon ion-social-yen"></i>
          资产管理
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="app.bond">
          <i id="bondc" class="icon ion-social-usd"></i>
          债券管理
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="app.share">
          <i id="sharec" class="icon ion-arrow-graph-up-right"></i>
          股票管理
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="app.borrow">
          <i class="icon ion-card borrc"></i>
          借贷管理
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="app.wish">
          <i id="wishc" class="icon ion-heart"></i>
          心愿单
        </ion-item>
      </ion-list>
      <ion-list>
         <ion-item menu-close ui-sref="app.setting">
          相关设置
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

