<ion-view view-title="用户登录">
  <ion-header-bar class="bar-positive">
    <h1 class="title">用户登录</h1>
  </ion-header-bar>

  <ion-content scroll="true" overflow-scroll="false" ng-controller="SigninCtrl">
    <form ng-submit="doLogin()" name="signinForm">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" name="username" ng-model="user.name" placeholder="用户名" ng-required="true" ng-minlength="4" ng-maxinlength="16">
        </label>
        <label class="item item-input">
          <input type="password" name="password" ng-model="user.password" placeholder="密码" ng-required="true" ng-pattern="/[a-zA-Z0-9]{6,16}/">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit"
        ng-disabled="signinForm.$invalid">登录</button>
      </div>
    </form>

    <div class="row">
      <div class="col">
        <a class="button button-clear button-dark" ui-sref="signup">用户注册</a>
      </div>
      <div class="col">
        <a class="button button-clear button-positive" style="float: right;" ui-sref="forgetpwd">忘记密码?</a>
      </div>
    </div>
  </ion-content>
</ion-view>
