<ion-view view-title="收支增加">
  <ion-nav-title>
    <h1 class="title">收支增加</h1>
	</ion-nav-title>

		<ion-tabs class=" tabs-background-stable tabs-top" ng-controller="PayAddCtrl">
		  <ion-tab title="收入" >
		    <!-- 标签 1 内容 -->
		    <ion-content style="top: 86px"  scroll="true" overflow-scroll="false">
			    <form ng-submit="doSubmit()" name="payForm">
			      <div class="list">
			        <label class="item item-input item-stacked-label">
			          <span class="input-label">名字</span>
			          <input type="text" placeholder="至少两位" ng-model="payment.name"
			          ng-minlength="1" ng-maxlength="32" ng-required="true">
			        </label>
			        <label class="item item-input item-select">
			          <span class="input-label">类型</span>
			          <select ng-model="payment.product_type" ng-required="true">
			            <option value="奖金">奖金</option>
			            <option value="工资">工资</option>
			            <option value="其他">其他</option>
			          </select>
			        </label>
			        <label class="item item-input item-stacked-label">
			          <span class="input-label">价格</span>
			          <input type="number" ng-model="payment.price"
			          ng-required="true" placeholder="请输入..."
          ng-pattern="/^(([0-9]+[\.]?[0-9]+)|[1-9])$/" min="0" max="100000000">
			        </label>
			        <label class="item item-input item-stacked-label">
			        	<span class="input-label">备注</span>
			    			<textarea placeholder="描述一下~" ng-model="payment.remark"></textarea>
			        </label>
			        <label class="item">
			          <button class="button button-block button-positive" type="submit"
			          ng-disabled="payForm.$invalid">确定</button>
			        </label>
			      </div>
			    </form>
		    </ion-content>
		  </ion-tab>
		 
		  <ion-tab title="支出">
			  <ion-content style="top: 86px"  scroll="true" overflow-scroll="false">
			    <form ng-submit="doSubmit()" name="payForm1">
			      <div class="list">
			        <label class="item item-input item-stacked-label">
			          <span class="input-label">名字</span>
			          <input type="text" placeholder="名字" ng-model="payment1.name"
			          ng-required="true" ng-minlength="2" ng-maxlength="20">
			        </label>
			        <label class="item item-input item-select">
			          <span class="input-label">类型</span>
			          <select ng-model="payment1.product_type" ng-required="true">
			            <option value="饮食">饮食</option>
			            <option value="服装" >服装</option>
			            <option value="交通">交通</option>
			            <option value="水电">水电</option>
			            <option value="通讯">通讯</option>
			            <option value="日用品">日用品</option>
			            <option value="旅游">旅游</option>
			            <option value="保险">保险</option>
			            <option value="其他">其他</option>
			          </select>
			        </label>
			        <label class="item item-input item-stacked-label">
			          <span class="input-label">价格</span>
			          <input type="number"  ng-model="payment1.price"
			          ng-required="true" ng-pattern="/^\d+(\.\d+)?$/" min="0.1" ng-maxlength="9" placeholder="长度不超过9位">
			        </label>
			        <label class="item item-input item-stacked-label">
			        	<span class="input-label">备注</span>
			    			<textarea placeholder="描述一下~" ng-model="payment1.remark"></textarea>
			        </label>
			        <label class="item">
			          <button class="button button-block button-positive" type="submit" ng-disabled="payForm1.$invalid">确定</button>
			        </label>
			      </div>
			    </form>
		    </ion-content>
		  </ion-tab>
		</ion-tabs>

</ion-view>