<ion-view view-title="收支详情">
	<ion-nav-title>
    <h1 class="title">收支详情</h1>
	</ion-nav-title>
  <ion-content scroll="true" overflow-scroll="false">
  	<div class="record">
		  <div class="list">
			  <div class="item">
			    <h1 class="center">{{payment.type == 0 ? '+' : '-'}}{{payment.price || '未知'}}</h1>
			  </div>

			  <div class="item">
		      名字
		      <span class="item-value">
		        {{payment.name || '未知'}}
		      </span>
		    </div>
		     <div class="item">
		      类型
		      <span class="item-value">
		        {{payment.product_type || '未知'}}
		      </span>
		    </div>
				<label class="item item-input item-stacked-label">
	        <span class="input-label">备注</span>
	        <textarea disabled="disabled" name="remark" >{{payment.remark || '暂无'}}</textarea>
	      </label>
		    <div class="item">
		      创建日期
		      <span class="item-value">
		        {{payment.meta.createAt | DateFilter}}
		      </span>
		    </div>
	<!-- 	    <div class="item">
		      编号
		      <span class="item-value">
		        {{payment._id}}
		      </span>
		    </div> -->
	  	</div>
  	</div>
  </ion-content>
</ion-view>
