<ion-view view-title="关于我们">
  <ion-nav-title>
      <h1 class="title">关于我们</h1>
  </ion-nav-title>
  <ion-content overflow-scroll="false">
      <div class="list card">
          <div class="item item-avatar">
              <img src="img/icon.png">
              <h2>掌中有账</h2>
              <p>04-05-2017</p>
          </div>
          <div class="item item-body">
              <p>
                  掌中有账是一个短小精悍的记账APP，此应用追求简洁、好用，很希望这个APP能对你带来便捷，谢谢使用！
              </p>
              <p>除了安卓APP，你也可以通过iOS客户端的网站访问。如果你觉得掌中有账对你有帮助，欢迎给个好评推荐给更多的人，这对我真的意味着很多很多。</p>
              <p>版本：0.1.0</p>
              <p>微博：_行者悟空_</p>
              <p>微信：762422896</p>
              <p>QQ：762422896</p>
              <p>Web版：zzyzhang.dival.com</p>
          </div>
      </div>
  </ion-content>
</ion-view>
