<ion-view view-title="关于我们">
	<ion-nav-title>
    <h1 class="title">关于我们</h1>
	</ion-nav-title>
  <ion-content overflow-scroll="false">
  	<p>关于我们</p>
  	<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/icon.png">
		    <h2>Marty McFly</h2>
		    <p>November 05, 1955</p>
		  </div>
		  <div class="item item-body">
		    <img class="full-image" src="img/icon.png">
		    <p>
		      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
		      the content is from a card-body consisting of an image and paragraph text. The footer
		      consists of tabs, icons aligned left, within the card-footer.
		    </p>
		    <p>
		      <a href="#" class="subdued">1 Like</a>
		      <a href="#" class="subdued">5 Comments</a>
		    </p>
		  </div>
		</div>
  </ion-content>
</ion-view>
