<ion-view view-title="意见反馈">
	<ion-nav-title>
    <h1 class="title">意见反馈</h1>
	</ion-nav-title>

  <ion-content overflow-scroll="false" ng-controller="CommentCtr">
    <form ng-submit="doSubmit()" name="commentForm">
      <div class="list list-inset">
       <label class="item item-input item-stacked-label">
          <textarea ng-model="comment" placeholder="请写下你的建议" id="comment" ng-required="true"></textarea>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit"
          ng-disabled="commentForm.$invalid">提交反馈</button>
      </div>
    
    </form>
  </ion-content>
</ion-view>
