<ion-view view-title="股票列表">

  <ion-nav-buttons side="right">
        <a class="button button-clear button-icon ion-plus-round" ui-sref="app.share.add"></a>
    </ion-nav-buttons>

  <ion-content overflow-scroll="false">
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="Search" name="search" ng-model="keyword" ng-change="search(keyword)">
      </label>
    </div>

    <ion-list>
<!--      <ion-item class="item-divider">
        2017-01-12
        <span class="item-note">3,555</span>
      </ion-item> -->
      <ion-item class="item-avatar" ng-repeat="item in items track by $index" 
                item="item"
                ui-sref="app.share.detail({id:item._id})" class="item-remove-animate">
        <img ng-src="img/zhuan.png" ng-if="item.income >= 0">
        <img ng-src="img/pei.png" ng-if="item.income < 0">
        <h2>{{ item.name }}</h2>
        <p>金额：{{item.income}}</p>

        <ion-option-button class="button-calm"
                           ng-click="onItemDelete(item)">
          删除
        </ion-option-button>
        
        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll  on-infinite="loadData()"  ng-if="moredata"></ion-infinite-scroll>
  </ion-content>
</ion-view>
