<ion-view view-title='增加债券'>
  <ion-nav-title>
    <h1 class="title">增加债券</h1>
	</ion-nav-title>

  <ion-content scroll="true" overflow-scroll="false" ng-controller="BondAddCtrl">
    <form ng-submit="doSubmit()" name="bondForm">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">名字</span>
          <input type="text" placeholder="至少两位" ng-model="bond.name"
          ng-minlength="1" ng-maxlength="32" ng-required="true">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">代码</span>
          <input type="number" placeholder="代码" ng-model="bond.code"
          ng-pattern="/^[\d]{6}$/" ng-required="true">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">价格</span>
          <input type="number" ng-model="bond.price"
          ng-required="true" placeholder="请输入..."
          ng-pattern="/^(([0-9]+[\.]?[0-9]+)|[1-9])$/" min="0" max="100000000">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">收益率</span>
          <input type="text" placeholder="收益率" ng-model="bond.yield"
          ng-required="true" placeholder="请输入..."
          ng-pattern="/^(-)?(([0-9]+[\.]?[0-9]+)|[1-9])$/" min="0" max="100000000">
        </label>
        <label class="item item-input item-stacked-label">
        	<span class="input-label">备注</span>
    			<textarea placeholder="描述一下~" ng-model="bond.remark"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit"
          ng-disabled="bondForm.$invalid">确定</button>
        </label>
      </div>
    </form>
  </ion-content>


</ion-view>