<ion-view view-title="债券详情">
	<ion-nav-title>
    <h1 class="title">债券详情</h1>
	</ion-nav-title>
  <ion-content>
  	<div class="record">
		  <div class="list">
			  <div class="item">
			    <h1 class="center">{{bond.income}}</h1>
			  </div>

			  <div class="item">
		      名字
		      <span class="item-value">
		        {{bond.name}}
		      </span>
		    </div>

		    <div class="item">
		      代码
		      <span class="item-value">
		        {{bond.code}}
		      </span>
		    </div>
		    <div class="item">
		      买入价格
		      <span class="item-value">
		        {{bond.purchase}}
		      </span>
		    </div>
		    <div class="item">
		      收益率
		      <span class="item-value">
		        {{bond.yield}}
		      </span>
		    </div>
				<label class="item item-input item-stacked-label">
	        <span class="input-label">备注</span>
	        <textarea disabled="disabled" name="remark" >{{bond.remark || '暂无'}}</textarea>
	      </label>
		    <div class="item">
		      创建日期
		      <span class="item-value">
		        {{bond.meta.createAt | DateFilter}}
		      </span>
		    </div>
	  	</div>
  	</div>
  </ion-content>
</ion-view>
