<ion-view view-title="资产详情">
	<ion-nav-title>
    <h1 class="title">资产详情</h1>
	</ion-nav-title>
  <ion-content>
  	<div class="record">
		  <div class="list">
			  <div class="item">
			    <h1 class="center">{{assets.price}}</h1>
			  </div>

			  <div class="item">
		      名字
		      <span class="item-value">
		        {{assets.name}}
		      </span>
		    </div>
		     <div class="item">
		      类型
		      <span class="item-value">
		        {{assets.type}}
		      </span>
		    </div>
				<label class="item item-input item-stacked-label">
	        <span class="input-label">备注</span>
	        <textarea disabled="disabled" name="remark" >{{assets.remark || '暂无'}}</textarea>
	      </label>
		    <div class="item">
		      创建日期
		      <span class="item-value">
		        {{assets.meta.createAt | DateFilter}}
		      </span>
		    </div>
	  	</div>
  	</div>
  </ion-content>
</ion-view>
