<ion-view view-title="修改密码">
	<ion-header-bar class="bar-energized">
    <h1 class="title">修改密码</h1>
  </ion-header-bar>

  <ion-content scroll="true" overflow-scroll="false" ng-controller="UserChangepwdCtrl">
  	
		<div style="padding: 0 5px;">
	    <ion-list class="changepwd">
	    	<form  ng-submit="doChange()" name="pwdForm">
		    	<label class="item item-input">
	          <span class="input-label">原密码</span>
	          <input type="password" name="password" 
	          ng-model="user.pwd" ng-required="true" ng-pattern="/[a-zA-Z0-9]{6,16}/">
	        </label>
		    	<label class="item item-input">
	          <span class="input-label">新密码</span>
	          <input type="password" name="password" 
	          ng-model="user.newpwd" ng-required="true" ng-pattern="/[a-zA-Z0-9]{6,16}/">
	        </label>
	        <label class="item item-input">
	          <span class="input-label">确认密码</span>
	          <input type="password" name="password2" 
	          ng-model="user.confirpwd" ng-required="true" ng-pattern="/[a-zA-Z0-9]{6,16}/" pw-check="password">
	        </label>
	        <label class="item">
	          <button class="button button-block button-energized" type="submit"
	           ng-disabled="pwdForm.$invalid">确定</button>
	        </label>
        </form>
      </ion-list>
    </div>
  </ion-content>
</ion-view>