<ion-view view-title="增加借贷">
  <ion-nav-title>
    <h1 class="title">增加借贷</h1>
	</ion-nav-title>

		<ion-tabs class=" tabs-background-stable tabs-top" ng-controller="BorrowAddCtrl">
		  <ion-tab title="借入" >
		    <!-- 标签 1 内容 -->
		    <ion-content style="top: 86px" scroll="true" overflow-scroll="false" >
			    <form ng-submit="doSubmit()" name="borForm1">
			      <div class="list">
			        <label class="item item-input item-stacked-label">
			          <span class="input-label">对方名字</span>
			          <input type="text" placeholder="名字" ng-model="borrow.other"
			          ng-minlength="1" ng-maxlength="32" ng-required="true">
			        </label>
			         <label class="item item-input item-stacked-label">
			          <span class="input-label">对方电话</span>
			          <input type="text" placeholder="电话" ng-model="borrow.telphone"
			          ng-required="true" ng-pattern="/^((0\d{2,3}-\d{7,8})|(1[3584]\d{9}))$/">
			        </label>
			        
			        <label class="item item-input item-stacked-label">
			          <span class="input-label">数目</span>
			          <input type="number" placeholder="数目" ng-model="borrow.price"
			          ng-required="true">
			        </label>
			        <label class="item item-input item-stacked-label">
			        	<span class="input-label">备注</span>
			    			<textarea placeholder="描述一下~" ng-model="borrow.remark"></textarea>
			        </label>
			        <label class="item">
			          <button class="button button-block button-energized" type="submit"
			          ng-disabled="borForm1.$invalid">确定</button>
			        </label>
			      </div>
			    </form>
		    </ion-content>
		  </ion-tab>
		 
		  <ion-tab title="借出">
			  <ion-content style="top: 86px" scroll="true" overflow-scroll="false" >
			    <form ng-submit="doSubmit()" name="borForm2">
			      <div class="list">
			         <label class="item item-input item-stacked-label">
			          <span class="input-label">对方名字</span>
			          <input type="text" placeholder="名字" ng-model="borrow1.other"
			          ng-minlength="1" ng-maxlength="32" ng-required="true">
			        </label>
			         <label class="item item-input item-stacked-label">
			          <span class="input-label">对方电话</span>
			          <input type="text" placeholder="名字" ng-model="borrow1.telphone"
			          ng-required="true" ng-pattern="/^((0\d{2,3}-\d{7,8})|(1[3584]\d{9}))$/">
			        </label>
			        
			        <label class="item item-input item-stacked-label">
			          <span class="input-label">数目</span>
			          <input type="number" placeholder="数目" ng-model="borrow1.price"
			          ng-required="true">
			        </label>
			        <label class="item item-input item-stacked-label">
			        	<span class="input-label">备注</span>
			    			<textarea placeholder="描述一下~" ng-model="borrow1.remark"></textarea>
			        </label>
			        <label class="item">
			          <button class="button button-block button-energized" type="submit"
			          ng-disabled="borForm2.$invalid">确定</button>
			        </label>
			      </div>
			    </form>
		    </ion-content>
		  </ion-tab>
		</ion-tabs>

</ion-view>