<ion-view view-title="增加借贷">
  <ion-nav-title>
    <h1 class="title">增加借贷</h1>
	</ion-nav-title>

		<ion-tabs class=" tabs-background-stable tabs-top" ng-controller="BorrowAddCtrl">
		  <ion-tab title="借入" >
		    <!-- 标签 1 内容 -->
		    <ion-content style="top: 86px" scroll="true" overflow-scroll="false" >
			    <form ng-submit="doSubmit()">
			      <div class="list">
			        <label class="item item-input item-stacked-label">
			          <span class="input-label">对方名字</span>
			          <input type="text" placeholder="名字" ng-model="borrow.other">
			        </label>
			         <label class="item item-input item-stacked-label">
			          <span class="input-label">对方电话</span>
			          <input type="text" placeholder="名字" ng-model="borrow.telphone">
			        </label>
			        
			        <label class="item item-input item-stacked-label">
			          <span class="input-label">价格</span>
			          <input type="text" placeholder="价格" ng-model="borrow.price">
			        </label>
			        <label class="item item-input item-stacked-label">
			        	<span class="input-label">备注</span>
			    			<textarea placeholder="描述一下~" ng-model="borrow.remark"></textarea>
			        </label>
			        <label class="item">
			          <button class="button button-block button-positive" type="submit">确定</button>
			        </label>
			      </div>
			    </form>
		    </ion-content>
		  </ion-tab>
		 
		  <ion-tab title="借出">
			  <ion-content style="top: 86px" scroll="true" overflow-scroll="false" >
			    <form ng-submit="doSubmit()">
			      <div class="list">
			         <label class="item item-input item-stacked-label">
			          <span class="input-label">对方名字</span>
			          <input type="text" placeholder="名字" ng-model="borrow1.other">
			        </label>
			         <label class="item item-input item-stacked-label">
			          <span class="input-label">对方电话</span>
			          <input type="text" placeholder="名字" ng-model="borrow1.telphone">
			        </label>
			        
			        <label class="item item-input item-stacked-label">
			          <span class="input-label">价格</span>
			          <input type="text" placeholder="价格" ng-model="borrow1.price">
			        </label>
			        <label class="item item-input item-stacked-label">
			        	<span class="input-label">备注</span>
			    			<textarea placeholder="描述一下~" ng-model="borrow1.remark"></textarea>
			        </label>
			        <label class="item">
			          <button class="button button-block button-positive" type="submit">确定</button>
			        </label>
			      </div>
			    </form>
		    </ion-content>
		  </ion-tab>
		</ion-tabs>

</ion-view>