.center {text-align: center;}
.record .item {color:#444444;}
.record .item h1 {color: #000000;}
.record .item .item-value {float: right;}
.record .item textarea {background-color: #fff;padding: 16px 8px 6px 4px;font-size: inherit;color: inherit;}
.userdetail .item {color: #252525;border-left: 0;border-right: 0;}
.userdetail .item.item-divider {margin: 0 -5px;height: auto;padding: 8px 16px;}
.userdetail .item-note {font-size: inherit;color: #333333;}
.userdetail .input-label  {color: #8e8e8e;}